*
!.gitignore
!Program.cs
obj/Debug/FPII23-P1-Naves.pdb
bin/Debug/FPII23-P1-Naves.pdb
obj/Debug/FPII23-P1-Naves.exe
bin/Debug/FPII23-P1-Naves.exe
obj/Debug/FPII23-P1-Naves.pdb
obj/Debug/FPII23-P1-Naves.exe
obj/Debug/FPII23-P1-Naves.csproj.FileListAbsolute.txt
obj/Debug/FPII23-P1-Naves.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Debug/FPII23-P1-Naves.pdb
bin/Debug/FPII23-P1-Naves.exe
